







# C extensions
# Installer logs
# Mr Developer
# Packages
# Translations
# Unit test / coverage reports
#Wing
*.egg
*.egg-info
*.mo
*.orig
*.py[cod]
*.so
*.swp
*.wpr
*.wpu
.DS_Store
.cache/
.coverage
.idea
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.pytest_cache/
.tox
/.python-version
bin
build
cr/lib/tests/datadir/
develop-eggs
dist
eggs
lib64
local
nosetests.xml
parts
pip-log.txt
sdist
var
venv/
