.DS_Store
*.swp
*.py[cod]
*.python-version
*.orig
cr/lib/tests/datadir/
venv/

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
local
var
sdist
develop-eggs
.installed.cfg
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.idea

#Wing
*.wpr
*.wpu
.cache/

.pytest_cache/
